This is a continued notebook from part 1 which can be found here:
https://github.com/codinginquarantine/Coursera_Capstone/blob/master/Week%203%20Part%201.ipynb

In [1]:

import pandas as pd
import numpy as np
print('Libraries Imported!')

Libraries Imported!

The GeoEncoder library is not working for me, so I will use the csv file provided

In [2]:

#Read CSV file from link and load into dataframe
url_csv = 'http://cocl.us/Geospatial_data'
df_coordinates = pd.read_csv(url_csv)
df_coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

 I have exported data from part 1 into csv file. The code below may be hidden as it has some of my IBM credentials, but I am pulling up that csv file to use

In [18]:
# The code was removed by Watson Studio for sharing.

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [20]:
# Make sure both dataframes have the same 
df_coordinates.rename(columns={'Postal Code': 'PostalCode'}, inplace=True)
neighborhoods.rename(columns={'Postcode': 'PostalCode'}, inplace=True)

In [21]:
# Merge both datasets
neighborhoods_coordinates = pd.merge(neighborhoods, df_coordinates, on='PostalCode')
neighborhoods_coordinates.head()

,PostalCode,Borough,Neighborhood,Latitude_x,Longitude_x,Latitude_y,Longitude_y
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353,43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497,43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711,43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476,43.773136,-79.239476

In [22]:
# Check coordinates for a few of neighborhoods
neighborhoods_coordinates[(neighborhoods_coordinates['PostalCode']=='M5G') |
                             (neighborhoods_coordinates['PostalCode']=='M2H') ]

,PostalCode,Borough,Neighborhood,Latitude_x,Longitude_x,Latitude_y,Longitude_y
17,M2H,North York,Hillcrest Village,43.803762,-79.363452,43.803762,-79.363452
57,M5G,Downtown Toronto,Central Bay Street,43.657952,-79.387383,43.657952,-79.387383

In [23]:
#Export to .CSV
neighborhoods_coordinates.to_csv('Toronto_Postalcodes_Hoods.csv')